<form [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Commune Enregistrement" formControlName="comm_enr" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Commune Résidence" formControlName="comm_resid" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Prénom Père" formControlName="prenomP" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nom Mère" formControlName="nomM" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Prénom Mère" formControlName="prenomM" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Adresse" formControlName="adresse" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nationalité" formControlName="nation" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Groupe Sanguin" formControlName="sang_grp" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Situation Familiale" formControlName="sit_fam" required>
  </mat-form-field>
</form>
