<form [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Commune Enregistrement" formControlName="comm_enr" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Commune Résidence" formControlName="comm_resid" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Prénom Père" formControlName="prenomP" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nom Mère" formControlName="nomM" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Prénom Mère" formControlName="prenomM" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Adresse" formControlName="adresse" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nationalité</mat-label>
    <mat-select formControlName="nation" required>
      <mat-option *ngFor="let n of nations" [value]="n"> {{n}} </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Groupe Sanguin</mat-label>
    <mat-select formControlName="sang_grp" required>
      <mat-option *ngFor="let g of grps" [value]="g"> {{g}} </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Situation Familiale</mat-label>
    <mat-select formControlName="sit_fam" required>
      <mat-option *ngFor="let sit of situations" [value]="sit"> {{sit}} </mat-option>
    </mat-select>
  </mat-form-field>
</form>
