<mat-toolbar class="header-toolbar mat-elevation-z6">
  <button class="sidenav-toggle" aria-label="Toggle Sidebar" (click)="toggleSidenav()">
    <mat-icon class="menu-icon" aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="all-menu">
    <a [routerLink]="''">
      <img alt="angular" class="docs-angular-logo" src="../../../assets/img/auto_ecole.png">
      <span class="app-title">Auto Ecole Kadda</span>
    </a>
  </div>
  <div class="desktop-menu">
    <span class="spacer"></span>
    <a *ngFor="let menu_item of menu; let i = index" [routerLink]="[menu_item.url]" [target]="menu_item.target" mat-button class="menu-item">
      <mat-icon>{{menu_item.icon}}</mat-icon>
      {{ menu_item.name }}</a>
  </div>
</mat-toolbar>
