<form [formGroup]="form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nom" formControlName="nom" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Prénom" formControlName="prenom" required>
  </mat-form-field>
  <mat-radio-group class="example-radio-group" formControlName="sexe" [(ngModel)]="sexe">
    <label id="group-label">Sexe</label>
    <mat-radio-button class="example-radio-button" value="h">Homme</mat-radio-button>
    <mat-radio-button class="example-radio-button" value="f">Femme</mat-radio-button>
  </mat-radio-group>
  <mat-form-field class="example-full-width" *ngIf="sexe == 'f'">
    <input matInput placeholder="Nom Jeune Fille" formControlName="nomJF" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
  <input matInput [matDatepicker]="picker" placeholder="Date Naissance" formControlName="dateNaiss" required>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <app-file-upload formControlName="image" [progress]="progress"></app-file-upload>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Téléphone" formControlName="tel" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Pièce ID" formControlName="cin" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" type="email" formControlName="email" required>
  </mat-form-field>

</form>
