<div layout="row" layout-align="space-between center" flex class="layout-align-space-between-center layout-row flex">
  <div class="top-container">
    <span class="md-lgn-headline">{{ title }}</span>
    <button class="btn-secondary" mat-mini-fab matTooltip="Home">
      <mat-icon routerLink="/" aria-label="home icon">home</mat-icon>
    </button>
  </div>
</div>
<div class="basic-container mat-elevation-z8">
  <mat-horizontal-stepper [linear]="true" #stepper>

    <mat-step [stepControl]="personalForm">
      <ng-template matStepLabel>Coordonnées</ng-template>
      <app-personal-form [form]="personalForm"></app-personal-form>
      <div>
        <button mat-raised-button matStepperNext class="btn-primary">Suivant</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="persoNext">
      <ng-template matStepLabel>Détails</ng-template>
      <app-next-form [form]="persoNext"></app-next-form>
      <div class="top-15">
        <button mat-raised-button matStepperPrevious>Précédent</button>
        <button class="btn-primary" mat-raised-button matStepperNext>Suivant</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Revue</ng-template>
      <app-result-form [formData]="getCandidat()"></app-result-form>
      <div class="top-15">
        <button mat-raised-button matStepperPrevious>Précedent</button>
        <button class="btn-success" mat-raised-button cdkFocusInitial (click)="save()">Enregistrer</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</div>
