
<div *ngIf="examen">
  <app-examen-form [form]="form" ></app-examen-form>
<div layout="row" layout-align="space-between center" flex class="layout-align-space-between-center layout-row flex" id="title_ex">
 <h2> Liste des candidats pour l'examen du : {{(examen)?.date | date: 'dd/MM/yyyy' }}</h2>
</div>

<div class="basic-container mat-elevation-z8">
  <table mat-table [dataSource]="dsExam" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear >

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>ID</th>
      <td mat-cell *matCellDef="let candidat">{{ candidat.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom Complet</th>
      <td mat-cell *matCellDef="let candidat">{{ getFullName(candidat) }}</td>
    </ng-container>

    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</th>
      <td mat-cell *matCellDef="let candidat">{{ candidat.adresse }}</td>
    </ng-container>
    <ng-container matColumnDef="dateNaiss">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Naissance</th>
      <td mat-cell *matCellDef="let candidat">{{ candidat.dateNaiss | date:'dd/MM/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="tel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Téléphone</th>
      <td mat-cell *matCellDef="let candidat">{{ candidat.tel }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let candidat">
        <button mat-icon-button color="warn" matTooltip="delete a candidat">
          <mat-icon (click)="deleteCandidatExamen(candidat)" aria-label="delete candidat">delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>
<div class="top-15" align="end" >

  <button class="btn-success" mat-raised-button [disabled]="!form.valid || !form.dirty" (click)="save()">Enregister</button>
</div>
</div>
