table {
  width: 100%;
}


.top-15 {
  padding-top: 15px;
}
.btn-secondary {
  background-color: #ffd740;
  color: #000000;
}
#title_ex{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#title_ex h2{
  background-color: aliceblue;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}
